.Header {
    background-color: #131921;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position:sticky;
    top: 0px;
    margin-bottom: 0;
    z-index: 10;
}

.logo {
    object-fit: contain;
    width: 100px;
    margin-left:2.5%;
    margin-right: 5px;
}

.header_search {
    margin-left: 5px;
    flex: 1;
    height: 25px;
}
.header_searchIcon {
background-color: #cd9042;
padding: 5px;
margin-right: 20px;
}
.right_nav {
    display: flex;
    justify-content: space-evenly;
}

.nav_content {
    display: flex;
    flex-direction: column;
    color: white;
    margin-right: 12px;
}

.Lineone {
    font-size: 11px;
}

.Linetwo {
    font-size: 14px;
    font-weight: 800;
}