.Header {
    background-color: #131921;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position:sticky;
    top: 0px;
    margin-bottom: 0;
    z-index: 10;
}

.logo {
    object-fit: contain;
    width: 100px;
    margin-left:8%;
    margin-right: 20px;
}

.header_search {
    margin-left: 5px;
    flex: 1;
    height: 25px;
}
.header_searchIcon {
background-color: #cd9042;
padding: 5px;
margin-right: 20px;
}
.right_nav {
    display: flex;
    /* justify-content: space-evenly; */
}

.nav_content {
    display: flex;
    flex-direction: column;
    color: white;
    margin-right: 12px;
}
.basket {
 display: inline;
}

.basket > small {
    margin-left: 5px;
    font-weight: 500
}
.Lineone {
    font-size: 11px;
}

.Linetwo {
    font-size: 14px;
    font-weight: 800;
}

@media (max-width: 612px)
{
    .logo {
        object-fit: contain;
        width: 80px;
        margin-left:2.5%;
        margin-right: 5px;
    }
}

@media (max-width: 556px)
{
    .logo {
        object-fit: contain;
        width: 60px;
        margin-left:2.5%;
        margin-right: 5px;
    }
}

@media (max-widht: 512px) {
    .logo {
        object-fit: contain;
        width: 45px;
        margin-left:2.5%;
        margin-right: 5px;
    }
}

.auth {
    display: flex;
    justify-content: center;
}
.circle {
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    background-color: #cd9042;
    border-color: #a88734 #9c7e31 #846a29;
    margin-bottom: -3px;
   
    font-weight: 500;
    text-decoration: none;
  }

  .link {
      text-decoration: none;
  }
.topclass {
    display: flex;
}
@media (max-width: 450px)
{
    .logo {
        object-fit: contain;
        width: 47px;
        margin-left:1px;
        margin-right: 2px;

    }
 .topclass {
 display: flex;
 flex-direction: column;
 }

 .nav_content {
     margin-right: 5px;

 }

 .Lineone {
     font-size: 8px;
 }
 
 .Linetwo {
     font-size: 11px;
     font-weight: 800;
 }

 .header_search {
     width: 8px;
 }
   
 .header_searchIcon {
     margin-right: 10px;
 }
}


.link {
    text-decoration: none;
}