.Header {
    background-color: #131921;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position:sticky;
    top: 0px;
    margin-bottom: 0;
    z-index: 10;
}

.logo {
    object-fit: contain;
    width: 100px;
    margin-left:8%;
    margin-right: 20px;
}

.header_search {
    margin-left: 5px;
    flex: 1;
    height: 25px;
}
.header_searchIcon {
background-color: #cd9042;
padding: 5px;
margin-right: 20px;
}
.right_nav {
    display: flex;
    justify-content: space-evenly;
}

.nav_content {
    display: flex;
    flex-direction: column;
    color: white;
    margin-right: 12px;
}
.basket {
 display: inline;
}

.basket > small {
    margin-left: 5px;
    font-weight: 500
}
.Lineone {
    font-size: 11px;
}

.Linetwo {
    font-size: 14px;
    font-weight: 800;
}

@media (max-width: 612px)
{
    .logo {
        object-fit: contain;
        width: 80px;
        margin-left:2.5%;
        margin-right: 5px;
    }
}

@media (max-width: 556px)
{
    .logo {
        object-fit: contain;
        width: 60px;
        margin-left:2.5%;
        margin-right: 5px;
    }
}

@media (max-widht: 512px) {
    .logo {
        object-fit: contain;
        width: 45px;
        margin-left:2.5%;
        margin-right: 5px;
    }
}