.Home {
    display: flex;
    flex-direction: column;    
}

.background {
     width: 100%;
      height: 450px;
      mask-image: linear-gradient(to bottom ,rgba(0,0,0,1),rgba(0,0,0,0));
      margin-bottom: -150px;
      z-index: -1;
}
.Products {
    display: flex;
    flex-direction: column;
}

.items {
    display: flex;
    justify-content: space-evenly;
}