.Product {
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    flex: 1;
    justify-content: center;
    align-content: center;
    margin-left:10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2%;
    height: 420px;
}

.Product:hover{

    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.each {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
   
}
span {
margin-bottom: 2px;
}
/* .product_image {
    display: flex;
    justify-content: center;
    
} */
.product_info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.IMAGE {
    object-fit: contain;
    max-height: 220px;
}

.botton {
margin-top: 15px;
display: flex;
justify-content: center;
}
.botton > button {
    background: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9cfe31 #846a29;
}

@media (max-width: 1023px) {
    .IMAGE {
        object-fit: contain;
        max-height: 150px;
    }
}

@media (max-width: 711px) {
    .IMAGE {
        object-fit: contain;
        max-height: 120px;
    }
}

@media (max-width: 601px) {
    .IMAGE {
        object-fit: contain;
        max-height: 90px;
    }
}

@media (max-width: 470px)
{
.IMAGE {
    object-fit: contain;
    max-height: 200px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.botton > button {
margin-bottom: 20px;
}
}